<style>
    .text-red{
        color: red;
    }
    .text-blue{
        color: blue;
    }
</style>

<page backtop="25mm" backleft="13mm" backbottom="15mm" backright="18mm">
    <page_header>
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/54/Logo-utez.png" style="width: 180px; float: right;" alt="Logo UTEZ" title="Logo UTEZ">
    </page_header>
    <page_footer>
        <h5 class="text-red">{{ actualDate }}</h5>
    </page_footer>
    
    <h1 class="text-blue">Hola Mundo</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for user in listUsers %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</page>